@import "~mdb-ui-kit/css/mdb.min.css";

a.navItem {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}

.bet-slip-area {
  margin-top: 20px;
  background: #1c1c1c;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 98%;
}

.bet-slip-content {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 15px;
  background: #111111;
  line-height: 20px;
  border-radius: 20px 20px 0px 0px;
}
.placebet {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: #111111;
}

button.bet-btton {
  background-color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 21px;
  color: #161616;
  width: 100%;
  border: none;
  padding: 20px 10px;
  border-radius:10px ;
}

button#controlled-tab-example-tab-profile:hover {
  background: none;
}
button#controlled-tab-example-tab-home {
  background: none;
}
button#uncontrolled-tab-example-tab-sports {
  background: none;
}
button#uncontrolled-tab-example-tab-everything\ else {
  background: none;
}
button#uncontrolled-tab-example-tab-e-sports {
  background: none;
}

/* EVENT */

.event-content {
  border-radius: 20px 20px 0px 0px;
  margin-top: 70px;
  padding-bottom: 20px;
  background: #1c1c1c;
}

.nav-tabs {
  border-radius: 20px 20px 0px 0px;
  border-bottom: 1px solid #1c1c1c !important;
  background: #111111;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #ffff !important;
  background-color: transparent !important;
  border-color: transparent !important;
  border-bottom: 2px solid #48ff7b !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active:hover {
  border-bottom: 2px solid #48ff7b !important;
}

.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: 0 0;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  color: #777777 !important;
  padding: 22px 35px;
  font-size: 14px;
  border-top-right-radius: 0.25rem;
}
.nav-tabs .nav-link:hover {
  border-color: transparent !important;
}
/* .event-area {
  margin-left: -20px;
} */

/* EVENTS (SPORTS DETAILS) */

h6.sports-heading {
  font-family: "Montserrat";
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  padding: 10px 0px;
  line-height: 20px;
}
.card-border {
  background: #111111;
  padding: 20px 20px;
  border-radius: 20px;
  cursor: pointer;
}
.card.background {
  background: #0c0c0c;
  border-radius: 20px;
}
.card-body.background {
  background: #0c0c0c;
  border-radius: 20px;
}
.card-header.area {
  display: flex;
  justify-content: space-between;
}
h6.title {
  font-family: "Orbitron";
  color: #fff;
  margin-top: 12px;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
}
h6.title2 {
  font-family: "Montserrat";
  font-style: normal;
  margin-top: 12px;
  color: #fff;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
}
.pool-amount {
  display: flex;
  align-items: baseline;
}
p.pool-size {
  color: #adadad;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  margin-left: 37px;
  line-height: 15px;
  margin-bottom: 5px;
}
span.amount {
  color: #ffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
}

p.team {
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
p.team2 {
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.remaing-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
span.day {
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
}
.matches {
  width: 100px;
  height: 52px;
  background: #1c1c1c;
  border-radius: 10px;
}
.images-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
h6.matches-name {
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  padding-top: 10px;
}
p.percent {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  color: #48ff7b;
  font-size: 12px;
  line-height: 15px;
}
.result-content {
  display: flex;
  align-items: center;
}

/* BETS SINGAL & ACCUMULATE */

.card-header.bets-background {
  background: #111111;
  border-radius: 10px 10px 0px 0px;
}
.close-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.amount-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h4.heading-bet {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding-top: 15px;
  color: #ffff;
}
h5.card-title.heading {
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
p.card-text.particpants {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #aaaaaa;
}
p.number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}
input.input-amount {
  background: #1c1c1c;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  padding: 10px 10px;
  color: #fff;
}
.iaw {
  display: block;
}
p.winnigs {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #aaaaaa;
}
p.wining-amount {
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  padding-left: -20px;
}
img.cross-img {
  cursor: pointer;
}
span.vs {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffff;
}
.card.section {
  border-radius: 10px 10px 10px 10px;
  border: none;
}
.card-body.bet-body-background {
  background: #0c0c0c;
  border: none;
  border-radius: 0px 0px 7px 7px;
}

/* VIEW MORE */
.view-more-area {
  margin-top: 50px;
}
p.view-other-cards {
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 16px;
}
hr:not([size]).hr {
  height: 2px;
  background-color: #1c1c1c;
  opacity: 0.5;
}
.view-more {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/* INSTRUCTION */

h5.heading-instruction {
  position: absolute;
  top: 40%;
  left: 20px;
  font-family: "Montserrat";
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
}
img.image-instruction {
  width: 80%;
  padding: 5px 7px;
  display: block;
  margin-left: auto;
}
.read-instruction {
  background-color: #111111;
  border-radius: 0px 0px 20px 20px;
}
span.read-btton {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  padding: 20px 20px;
  color: #48ff7b;
}
.read-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img.read-arrow-img {
  padding: 20px 20px;
}

/* FOR CHATS */
.chat-text-background {
  background: #0c0c0c;
  border-radius: 10px;
}
.chats-area {
  background: #111111;
  border-radius: 20px 20px 0px 0px;
  padding: 10px 10px;
}
h5.chats-heading {
  color: #ffff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.chats-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h6.username-heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  padding: 10px 10px;
  color: #fff;
}
p.lorem-text {
  color: #aaaaaa;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  width: 100%;
  padding: 10px 10px;
  line-height: 13px;
}

/* FOOTER */

.footer-area {
  margin-top: 70px;
}
h4.audit-kyc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #bcbcbc;
  margin: 20px 0px;
}
h6.item {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #fff;
  padding-left: 32px;
}
li.list-items {
  list-style: none;
}
p.li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 17px;
  text-align: center;
  color: #bcbcbc;
}
span.copy-right {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #bcbcbc;
}

@media screen and (max-width: 1280px) {
  .remaing-section {
    margin-left: -15px;
  }
  span.day {
    font-size: 8px;
  }
  .amount-card {
    display: grid;
  }

  p.winnigs {
    font-family: "Montserrat";
    font-style: normal;
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #aaaaaa;
  }
  p.wining-amount {
    text-align: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    padding-left: -20px;
  }
}
@media screen and (max-width: 1024px) {
  .remaing-section {
    display: block;
  }
  .images-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .result-content {
    display: flex;
    justify-content: center;
  }
  input.input-amount {
    background: #1c1c1c;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    padding: 10px 10px;
    color: #fff;
    width: 90%;
  }
}

@media screen and (max-width: 912px) {
  .remaing-section {
    display: flex;
    justify-content: flex-end;
  }
  .images-container {
    margin-bottom: 0%;
  }
  .instruction-area {
    margin-top: 50px;
  }

  .read-instruction {
    background-color: #111111;
    border-radius: 0px 0px 20px 20px;
    margin-top: -22px;
  }

  p.team {
    color: #fff;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    top: 25px;
  }
  p.team2 {
    color: #fff;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    top: 50px;
  }
  .event-content {
    border-radius: 20px 20px 0px 0px;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background: #1c1c1c;
  }
}
@media screen and (max-width: 540px) {
  .remaing-section {
    display: block;
    margin-top: 70px;
  }
  .images-container {
    margin-bottom: 10px;
  }
  .chats-area {
    margin: 10px 10px;
  }
}

@media screen and (max-width: 480px) {
  .card-header.area {
    display: block;
    text-align: center;
  }
  .remaing-section {
    display: block;
    margin-top: 70px;
  }
  .images-container {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 412px) {
  .chats-area {
    margin: 10px 10px;
  }
}
