@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700;900&display=swap");

@font-face {
  font-family: "cursed";
  src: url("/src/fonts/CursedTimerUlil-Aznm.ttf"); /*URL to font*/
}

h1.headingnew {
  margin-top: 150px;
  color: #fff;
  font-style: normal;
  font-weight: 900;
  word-spacing: 5px;
}

h1.headingnew2 {
  margin-top: 70px;
  font-family: "Montserrat";
  color: #48ff7b;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  word-spacing: 5px;
}
h1.headingnew21 {
  margin-top: 70px;
  font-family: "Montserrat";
  color: #48ff7b;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  word-spacing: 5px;
}
.betslink {
  font-size: 13px;
}

span.betspan {
  color: #48ff7b;
}
.blink {
  height: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.dece-para {
  font-size: 13px;
  font-family: "Montserrat";
}
.decentralized {
  display: flex;
  align-items: baseline;
  color: #b0b3b6;
}
span.arrowblink {
  font-size: 25px;
  font-family: cursive;
  color: #48ff7b;
  animation: blink 1.5s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
span.spanline {
  color: #b0b3b6;
}

button.bbnow {
  width: 350px;
  border-radius: 10px;
  margin-top: 120px;
  background: #48ff7b;
  box-shadow: 6px 6px 0px #393939;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 0.5em;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-weight: 900;
  font-style: normal;
  font-weight: 900;
  font-size: 0.8rem;
  color: #000000;
  transition: all 500ms ease-in-out;
}
.background-image {
  background-image: url("../images/mesh1.svg");
  background-size: cover;
}
.background-image2 {
  padding-left: 50px;
  overflow: hidden !important;
  background-image: url("../images/mesh.svg");
  background-repeat: no-repeat !important;
  background-position-x: -20vw !important;
  background-attachment: scroll !important;
  scroll-behavior: smooth !important;
  background-size: cover;
  margin-bottom: 50px !important;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
}
.rightbackgroundimage {
  background-image: url("../images/mesh.svg");
  background-repeat: no-repeat !important;
  background-size: cover;
  padding-bottom: 12rem;
  border-radius: 50px;
}
img.svgimg {
  margin-top: 100px;
  max-width: 550px;
}
.card-body.newbackground {
  background-color: #0b0b0b;
  color: #fff;
}
.card.ecobackground {
  background-color: #0b0b0b;
}
.card-header.newcardheader {
  border-bottom: none;
}
.card.text-bg-dark.bb {
  background-color: #0b0b0b;
  border: 1px solid #0b0b0b;
  box-shadow: 0px 0px 2px 0px #0b0b0b;
  display: block;
  margin: auto;
}
iconify-icon {
  font-size: 24px;
  color: #04ddfa;
}
h5.activeh5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 13px;
  padding-left: 12px;
  text-transform: uppercase;
  color: #ffffff;
}
span.dollar {
  font-size: 2rem;
}
p.usersh5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: -5px;
  margin-left: 12px;
}
.dece-para {
  font-size: 13px;
}
.card-header.newcardheader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
span#aa {
  background-color: #001c2d;
}
span#cc {
  background: #003901;
}
span#dd {
  background: #16232d;
}
span#tt {
  background: #2d1616;
}
h5.card-title.number {
  font-family: "cursed";
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  margin-left: 14px;
  color: #48ff7b;
  margin-top: -10px;
}

.button-learn {
  font-weight: 900;
  font-size: 0.8rem;
  margin-top: 35px;
  line-height: 21px;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  align-items: center;
  color: #48ff7b;
}
.rightimagearea.BB {
  border-radius: 40px 0px 40px 40px;
  background-color: #0c0c0c;
  padding: 0px 35px 45px;
}

.getstarted .cn1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
.getstarted .content h1 {
  text-align: start !important;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  text-align: center;
  text-indent: 5px;
  text-transform: uppercase;
  color: #48ff7b;
}
.getstarted .content p {
  margin-top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  color: #bcbcbc;
  text-transform: lowercase;
}

.getstarted .cn1 .link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 0.8rem;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #48ff7b;
  margin-top: 0 !important;
}
.getstarted .cn1 div {
  margin-left: 20px !important;
  margin-bottom: 50px !important;
}
.getstarted .cn1 p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 0.8rem;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 0px 10px #ffffff;
}
.eco-heading {
  font-size: 40px;
  font-weight: 900;
  font-family: "Red Hat Display";
  line-height: 48px;
  color: #48ff7b;
  text-align: center;
}
.ecosystem .cards_b .card_container .img {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: auto !important;
  padding: 20px;
  background-color: #0b0b0b;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.safubetsleft {
  background: #111111;
  height: 500px;
  box-shadow: -6px 6px 0px #393939;
  border-radius: 20px 0px 0px 20px;
}
.safubetsright {
  background: #111111;
  height: 500px;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 6px 6px 0px #393939;
}
h4.sbs {
  font-family: "Montserrat";
  font-style: normal;
  margin: 40px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 24px;
}

.card.mb-3.roadmapcard {
  background: #111111;
  border-radius: 10px;
}
.card-body.roadmapbody {
  background-color: #0b0b0b;
  margin: 20px 0px;
}
li.liststyle {
  list-style: decimal;
  font-size: 13px;
  line-height: 19px;
}
h4.phase1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  text-indent: 5px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 28px;
}
h4.sevenfive {
  font-family: "Montserrat";
  font-style: normal;
  text-align: end;
  font-weight: 900;
  text-indent: 5px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 28px;
}
.progress.road {
  display: flex;
  height: 5px;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #272727 !important;
  border-radius: 0.25rem;
}
.progress-bar.roadmap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #47ff7b !important;
  transition: width 0.6s ease;
}
img.betstoken {
  max-width: 350px;
  display: block;
  margin: 140px auto;
}
img.btlogo {
  max-width: 30px;
  margin-top: 10px;
}
.bettokenslink {
  background-color: #070707;
  margin-left: 20px;
  max-width: 470px;
  padding: 10px 10px;
}
h2.github {
  margin-left: 0.5em;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  color: #bcbcbc;
  text-transform: lowercase;
}
.d-flex.align-items-center.githubicon {
  margin-bottom: 30px !important;
}
.safubetsright2 {
  background: #111111;
  max-width: 540px;
  height: 625px;
}
.safubetsleft2 {
  background: #111111;
  max-width: 540px;
  height: 625px;
  display: block;
  margin-left: auto;
}
.safubetsright3 {
  background: #111111;
  max-width: 540px;
  height: 625px;
}
.safubetsleft2.left3 {
  margin-top: -20px;
}
.safubetsright2.right2 {
  margin-top: -20px;
}
.safubetsright3.right3 {
  margin-top: -20px;
}
img.daoimg2 {
  max-width: 400px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: -30px;
}
img.daoimg1 {
  max-width: 500px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 220px;
}
img.daoimg {
  max-width: 500px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: -20px;
}
h5.sbs-heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 42px;
  margin-bottom: -30px;
  margin-top: 30px;
}
.latestupdatebackground {
  margin: 0 auto !important;
  padding: 2% !important;
  overflow: hidden !important;
  background-image: url("../images/mesh.svg");
  background-repeat: no-repeat !important;
  /* background-position-x: 20vw !important;
  background-position-y: -20vw !important;
  background-attachment: scroll !important;
  scroll-behavior: smooth !important; */
  background-size: cover;
  border-radius: 50px;
}
/* p.updates {
  color: #b8b8b8;
  font-size: 13px;
  margin-left: -30px;
} */

input.d-block.m-auto.latestinput {
  border: none;
  outline: none;
  margin-bottom: 5rem;
  background: #151515;
  border-radius: 10px;
  color: #fff;
  width: 100%;
  height: 60px;
  margin-left: -30px !important;
  padding-left: 1em !important;
}

.latestupdatearea {
  margin: 0 auto;
  padding: 5%;
  background: rgba(32, 32, 32, 0.9);
  box-shadow: 10px 10px 4px rgb(0 0 0 / 25%);
  border-radius: 20px;
  max-width: 560px;
}

h1.headingnew3 {
  margin-top: -30px;
  margin-left: -30px;
  font-family: "Montserrat";
  color: #48ff7b;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  word-spacing: 5px;
}

button.buttonsign {
  outline: none !important;
  border: none !important;
  padding: 1em !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100% !important;
  margin-top: 100px;
  margin-left: -30px !important;
  border-radius: 10px;
  background: #2b2a2a;
  box-shadow: 10px 10px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 480px) {
  img.svgimg {
    max-width: 350px;
  }
  span.betspan {
    color: #48ff7b;
    font-size: 20px;
  }
  .card.text-bg-dark.bb {
    background-color: #0b0b0b;
    border: 1px solid #0b0b0b;
    margin-top: 20px;
    box-shadow: 0px 0px 2px 0px #0b0b0b;
    display: block;
    margin: auto;
  }

  img.daoimg1 {
    max-width: 380px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 220px;
  }
  h1.headingnew {
    margin-top: 70px;
    color: #fff;
    font-style: normal;
    font-weight: 900;
    word-spacing: 5px;
  }
  img.daoimg {
    max-width: 374px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: -20px;
  }
  img.daoimg2 {
    max-width: 309px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: -30px;
  }
  button.bbnow {
    width: 350px;
    border-radius: 10px;
    margin-top: 60px;
    background: #48ff7b;
    box-shadow: 6px 6px 0px #393939;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 0.5em;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-weight: 900;
    font-style: normal;
    font-weight: 900;
    font-size: 0.8rem;
    color: #000000;
    transition: all 500ms ease-in-out;
  }
  h1.headingnew3 {
    margin-top: 0px;
    margin-left: 0px;
    font-family: "Montserrat";
    color: #48ff7b;
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    word-spacing: 5px;
  }
  p.updates {
    color: #b8b8b8;
    font-size: 14px;
    margin-left: 0px;
  }
  input.d-block.m-auto.latestinput {
    border: none;
    outline: none;
    margin-bottom: 5rem;
    background: #151515;
    border-radius: 10px;
    color: #fff;
    width: 100%;
    height: 60px;
    margin-left: 0px !important;
    padding-left: 1em !important;
  }
  button.buttonsign {
    outline: none !important;
    border: none !important;
    padding: 1em !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100% !important;
    margin-top: 100px;
    margin-left: 0px !important;
    border-radius: 10px;
    background: #2b2a2a;
    box-shadow: 10px 10px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
  }
}

@media screen and (max-width: 412px) {
  img.svgimg {
    max-width: 300px;
  }
  span.betspan {
    color: #48ff7b;
    font-size: 19px;
  }
  h1.headingnew {
    margin-top: 70px;
    color: #fff;
    font-size: 19px;
    font-style: normal;
    font-weight: 900;
    word-spacing: 5px;
  }
  button.bbnow {
    width: 350px;
    border-radius: 10px;
    margin-top: 60px;
    background: #48ff7b;
    box-shadow: 6px 6px 0px #393939;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    /* margin-left: -10px; */
    padding-right: 0.5em;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-weight: 900;
    font-style: normal;
    font-weight: 900;
    font-size: 0.8rem;
    color: #000000;
    transition: all 500ms ease-in-out;
  }
  h1.headingnew3 {
    margin-top: 0px;
    margin-left: 0px;
    font-family: "Montserrat";
    color: #48ff7b;
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    word-spacing: 5px;
  }
  p.updates {
    color: #b8b8b8;
    font-size: 14px;
    margin-left: 0px;
  }
  input.d-block.m-auto.latestinput {
    border: none;
    outline: none;
    margin-bottom: 5rem;
    background: #151515;
    border-radius: 10px;
    color: #fff;
    width: 100%;
    height: 60px;
    margin-left: 0px !important;
    padding-left: 1em !important;
  }
  button.buttonsign {
    outline: none !important;
    border: none !important;
    padding: 1em !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100% !important;
    margin-top: 100px;
    margin-left: 0px !important;
    border-radius: 10px;
    background: #2b2a2a;
    box-shadow: 10px 10px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
  }
  img.daoimg1 {
    max-width: 380px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 220px;
  }
  h1.headingnew {
    margin-top: 70px;
    color: #fff;
    font-style: normal;
    font-weight: 900;
    word-spacing: 5px;
  }
  img.daoimg {
    max-width: 374px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: -20px;
  }
  img.daoimg2 {
    max-width: 309px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: -30px;
  }
  h4.sbs {
    font-family: sans-serif;
    font-style: normal;
    margin: 40px;
    font-weight: 900;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 23px;
  }
}

@media screen and (max-width: 912px) {
  h1.headingnew {
    margin-top: 50px;
    color: #fff;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    word-spacing: 5px;
  }
  button.bbnow {
    width: 100%;
    border-radius: 10px;
    margin-top: 60px;
    background: #48ff7b;
    box-shadow: 6px 6px 0px #393939;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 0.5em;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-weight: 900;
    font-style: normal;
    font-weight: 900;
    font-size: 0.8rem;
    color: #000000;
    transition: all 500ms ease-in-out;
  }

  img.svgimg {
    display: block;
    margin: 70px auto;
  }
  .card.text-bg-dark.bb {
    background-color: #0b0b0b;
    border: 1px solid #0b0b0b;
    margin-top: 20px;
    box-shadow: 0px 0px 2px 0px #0b0b0b;
  }
  h1.headingnew3 {
    margin-top: 0px;
    margin-left: 0px;
    font-family: "Montserrat";
    color: #48ff7b;
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    word-spacing: 5px;
  }
  p.updates {
    color: #b8b8b8;
    font-size: 14px;
    margin-left: 0px;
  }
  input.d-block.m-auto.latestinput {
    border: none;
    outline: none;
    margin-bottom: 5rem;
    background: #151515;
    border-radius: 10px;
    color: #fff;
    width: 100%;
    height: 60px;
    margin-left: 0px !important;
    padding-left: 1em !important;
  }
  button.buttonsign {
    outline: none !important;
    border: none !important;
    padding: 1em !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100% !important;
    margin-top: 100px;
    margin-left: 0px !important;
    border-radius: 10px;
    background: #2b2a2a;
    box-shadow: 10px 10px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .safubetsleft2 {
    background: #111111;
    max-width: 540px;
    height: 625px;
    display: block;
    margin: 40px auto;
  }
  .safubetsright2 {
    background: #111111;
    max-width: 540px;
    height: 625px;
    display: block;
    margin: auto;
  }
  .safubetsright3 {
    background: #111111;
    max-width: 540px;
    height: 625px;
    display: block;
    margin: 50px auto;
  }
}
