@media screen and (max-width: 390px) {
  .adminIndex .navbar{
    padding: 0px !important;
  }
}

@media screen and (max-width: 480px) {
  .navbar-brand img{
    height: 50px !important;
    width: 50px !important;
  }
  .navbar-nav{
    padding-top: 0px !important;
    gap: 0px !important;
  }
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 768px) {
  #AdminSidebar .pro-sidebar.collapsed{
    width: 0px;
    min-width: 0px;
  }
  #AdminSidebar{
    z-index: 5;
    height: 86%;
  }
  #AdminSidebar .pro-sidebar{
    margin-top: -30px;
    height: 110%;
  }
  #admin-navbar-nav a{
    font-size: 16px;
    line-height: 18px;
  }
  .topAppBtn{
    margin-top: 50px !important;
  }
  #section-home .homeTopBtnDao{
    margin-bottom: 25px;
  }
  .adminGlobalContainer{
    margin: 15px auto 0px auto;
    border-radius: 0px !important;
  }
  #section-statistics .row{
    width: 90% !important;
  }
  .carousel-container{
    width: 90% !important;
  }
  .subscribe {
    width: 100% !important;
  }
  .createEvent-main .multistep{
    padding: 25px 20px !important;
    width: 90%;
  }
  .sub-catogries{
    justify-content: center;
    align-items: center;
  }
  .outerRow, .betslip-main .row, .validate-event-main .row{
    border-radius: 0 !important;
  }
  .coming-main .col-md-6 h1{
    font-size: 38px !important;
  }
  .show-counter .countdown > p{
    font-size: 48px !important;
    margin-top: 25px;
  }
  .counterSaperator{
    font-size: 48px !important;
  }
}

@media screen and (max-width: 900px) {
  .createEvent-main .multistep{
    padding: 30px 50px;
  }
}
@media screen and (max-width: 1024px) {
  .sidebarNew{
    min-width: 325px;
    width: 100%;
    min-height: fit-content;
  }
  .space-100 {
    height: 10px;
  }
  .side-text-nfts{
    position: relative;
    margin-left: auto;
    right: 0;
    width: min-content !important;
  }
  #section-home h2 {
    font-size: 1.5rem;
    line-height: 30px;
  }
  #section-home .homeTopBtn {
    width: 100%;
  }
  #section-home p {
    font-size: 12px;

    font-family: "Montserrat";
  }
  .game-card .team-name {
    font-size: 14px;
  }
  .game-card h3 {
    font-size: 14px;
  }
  .game-card h5 {
    font-size: 12px;
  }
  .game-card button {
    height: 30px;
    width: 100%;
    line-height: 1;
  }
  #section-validate h1 {
    font-size: 2rem;
    text-align: center;
  }
  #section-validate p {
    font-size: 12px;
    text-align: center;
    margin: 2rem 0px;
  }
  #section-validate .img-fluid {
    margin: 4rem 0px;
  }
  #section-bet-on h1 {
    font-size: 3rem;
  }
  .social-icons img {
    width: 20px;
  }
  .tab-view-card {
    width: 80px;
  }
  .admin-match-button {
    width: 100%;
    font-size: 12px;
    height: 40px;
    float: left;
  }
  .nav-scroller-games {
    height: 7rem;
  }
  .admin-form input {
    height: 45px;
    width: 100%;
  }
  .admin-form select {
    height: 45px;
    width: 100%;
  }
  .admin-form button {
    height: 45px;
    width: 100%;
  }
  .admin-form label {
    font-size: 16px;
  }
  .admin-form p {
    font-size: 16px;
  }
  .admin-card-view {
    width: 100%;
  }
  .admin-form img {
    bottom: 15px;
  }
  .maindiv {
    width: 100%;
  }
  .sidebar .data-list {
    width: 100% !important;
  }
  .data-list .image-card .team-name {
    font-size: 18px;
  }
  .data-list .image-card p {
    font-size: 16px;
  }
  .data-list .image-card h3 {
    font-size: 18px;
  }
  .data-list .image-card h5 {
    line-height: 16px;
  }
  .odds-card h4 {
    font-size: 18px;
  }
  .odds-card .info p {
    font-size: 16px;
  }
  .odds-card .info span {
    font-size: 16px;
  }
  .odds-card .info .percent {
    font-size: 18px;
  }
  .odds-card .form input {
    width: 100%;
  }
  .odds-card .form .max-btn {
    right: 10px;
  }
  .odds-card .form p {
    font-size: 16px;
  }
  #admin-navbar-nav {
    justify-content: end;
    align-items: end;
  }
  .my-wallet-slide {
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
  }
  .my-bet-slide {
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
  }
  #about-section-5 h3 {
    font-size: 40px;
    line-height: 50px;
  }
  #about-section-5 button {
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 22px;
  }
  #about-section-5 h3 br {
    display: none;
  }
  #accordionFaq .accordion-button {
    font-size: 18px;
    line-height: 0px;
  }
  #accordionFaq .accordion-body {
    margin-left: 0rem;
    font-size: 16px;
    line-height: 0;
  }
  .home-header .navbar-nav {
    justify-content: center;
    align-items: center;
  }
  .chart-card h4 {
    font-size: 0.8rem;
  }
  .chart-card h5 {
    font-size: 0.9rem;
  }
  .homeTopImage img {
    width: 70%;
  }
  .modal-dialog {
    margin: 0 auto !important;
  }
  .modal-content{
    width: 100% !important;
  }
}
@media screen and (max-width: 1600px) {
  .self-help-main .row .col-lg-6{
    width: 48%;
  }
  .donate{
    padding: 25px 30px;
  }
  .self-help-main .amount .btn{
    padding: 23px;
  }
  .self-help-main .row .col-lg-6 .customAmount input{
    width: 75%;
  }
  .self-speak{
    padding: 25px 30px 40px 30px;
  }
  .coming-main .col-md-6 h1{
    font-size: 75px;
  }
  .show-counter .countdown > p{
    font-size: 120px;
    margin-top: 25px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1870px) {
  /* .betCards, .validStats{
    justify-content: start !important;
  } */
}
@media screen and (max-width: 1440px) {
  .betslip-main .row .col {
    min-width: 200px;
  }
  .self-help-main .row .col-lg-6{
  }
  .video-play-button {
    left: 75%;
    transform: translateX(0%) translateY(-50%);
  }
  .donate{
    padding: 20px 25px;
  }
  .self-speak{
    padding: 20px 25px 35px 25px;
  }
  .self-help-main .amount .btn{
    padding: 18px;
  }
  .self-help-main .row .col-lg-6 .customAmount input{
    width: 70%;
  }
}
@media screen and (max-width: 1280px) {
  .self-help-main .amount .btn{
    padding: 10px;
  }
  .self-help-main .row .col-lg-6 .customAmount input{
    width: 60%;
  }
}
@media screen and (max-width: 1200px) {
  .betslip-main .betCards, .validStats{
    justify-content: start !important;
  }
  .betslip-main .row .col, .validStats .col{
    margin-left: 25px;
    margin-right: 25px;
  }
  .homeTopImage{
    justify-content: center;
    height: 250px;
    width: 100%;
    margin-top: 100px;
  }
  .video-play-button {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translateX(0%) translateY(0%);
  }
  .self-help-main .row .col-lg-8{
    width: 90%;
  }
  .self-dordwn{
    margin-bottom: 40px;
    width: 80%;
  }
  .self-pause{
    width: 80% !important;
  }
  .self-timer{
    width: 100%;
  }
  .self-help-main .row{
    flex-direction: column;
  }
  .self-help-main .secondRow{
    align-items: center;
  }
  .self-help-main .row .col-lg-6{
    width: 90%;
  }
  .self-help-main .amount .btn{
    padding: 18px;
  }
  .self-help-main .row .col-lg-6 .customAmount input{
    width: 60%;
  }
  .coming-main .col-md-6 h1{
    font-size: 48px;
  }
  .show-counter .countdown > p{
    margin-top: -25px;
    font-size: 75px;
  }
  .counterSaperator{
    font-size: 75px;
    margin-top: -35px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    gap: 50px;
    height: 700px;
    align-items: center;
  }
  .navbar-nav {
    display: flex;
    gap: 50px;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
  }
  #admin-navbar-nav a, #admin-navbar-nav .nav-item span{
    font-size: 12px;
  }
  .collapsing {
    height: 100px;
    overflow: hidden;
    transition: height 0.35s ease;
  }
  .self-help-main .amount .btn{
    padding: 10px;
  }
  .self-dordwn{
    width: 90%;
  }
  .self-pause{
    width: 90% !important;
  }
  .appTopInfo{
    padding-top: 20px !important;
    padding-bottom: 0px !important;
  }
  .top-image{
    height: 250px;
  }
  .categories-dropdown button{
    width: 100%;
  }
  .categories-dropdown{
    position: relative !important;
    right: 0;
    bottom: 0;
  }
  .eventDrpDwn{
    width: 100%;
  }
  .eventDrpDwn button{
    width: 100%;
  }
  .sub-tools{
    width: 100%;
  }
  .sub-tools .search-bar {
    position: relative;
    width: 90%;
  }
  .sub-tools .search-bar img{
    position: absolute;
    right: 15px;
  }
}
@media only screen and (min-device-width: 355px) and (max-device-width: 376px){
  .belowPlay{
    margin-top: 150px;
  }
  .self-help-main .amount .btn, .admin-wallet-main .amount .btn{
    font-size: 12px;
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 520px) {
  .betslip-main .row .col, .validStats .col{
    width: 90% !important;
  }
  .coming-main .columnOne{
    padding-left: 25px !important;
  }
  .show-counter .countdown > p{
    font-size: 32px !important;
  }
  .coming-main .col-md-6 h1{
    font-size: 34px !important;
  }
  .show-counter .countdown > span{
    font-size: 14px;
  }
  .admin-wallet-main .amount .btn{
    padding: 20px;
  }
}
@media only screen and (max-width: 395px) {
  #admin-navbar-nav a, #admin-navbar-nav .nav-item span{
    font-size: 10px;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .coming-main{
    flex-direction: column;
    justify-content: center;
  }
  .coming-main .col-md-6{
    width: 100%;
  }
  .show-counter{
    width: 100%;
  }
  .columnTwo{
    text-align: center;
  }
  .columnTwo img{
    max-height: 60vh;
    width: auto;
  }
  .coming-main .columnOne{
    padding-top: 25px;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/**********
    iPad 3
    **********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 350px) and (max-device-width: 400px){
  .self-help-main .row .col-lg-6 .customAmount{
    font-size: 12px !important;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px){
  .betting-cards{
    flex-direction: column;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}
